
select option {
    font-family: Arial;
}

.logo {
    max-width: 35px;
    max-height: 35px;
}

.w-1200 {
    max-width: 1200px;
}

.w-500 {
    max-width: 500px;
}

.pd-10 {
    padding-bottom: 500px;
}

.underline-hover:hover {
    text-decoration: underline;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    padding-top: 69px;
    margin: 0;
}

.footer {
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.slick-prev:before, .slick-next:before {
    color: gray !important;
}

.display-2 {
    font-size: 3rem;
}

@media (min-width: 992px) {

    .display-2 {
        font-size: 5.5rem;
    }
}

.player-padding {
    padding-bottom: 56px;
}

/* Copied from https://stackoverflow.com/questions/31184000/making-a-bootstrap-table-column-fit-to-content */
/* Used to shrink a table column to fit the item(s) inside it. */
.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
