
select option {
    font-family: Arial;
}

.logo {
    max-width: 35px;
    max-height: 35px;
}

.w-1200 {
    max-width:1200px;
}

.w-500 {
    max-width:500px;
}

.pd-10 {
    padding-bottom: 500px;
}

.underline-hover:hover {
    text-decoration: underline;
}